# ignore pdfs which contain homework problems. May change this later.
*.pdf

# DrRacket likes to make .rkt~ files which we don't need
# ...also some compiled stuff which I think has to do with debugging.
*.rkt~
*compiled*
